/* You can add global styles to this file, and also import other style files */
.recuo-menu {
    margin-left: 100px;
}

.rodape {
    padding: 20px 0;
    margin-top: 50px;
}

.branco {
    color: #fff;
}

nav {
    background-color: #337ab7;
}